---
Checks:          '*,-llvmlibc-restrict-system-libc-headers,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-readability-identifier-length,-altera-*,-google-readability-todo,-bugprone-easily-swappable-parameters,-llvm-else-after-return,-readability-else-after-return,-bugprone-casting-through-void,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-misc-no-recursion,-cppcoreguidelines-macro-to-enum,-modernize-macro-to-enum,-misc-include-cleaner,-cppcoreguidelines-avoid-non-const-global-variables,-performance-no-int-to-ptr,-cert-err33-c,-concurrency-mt-unsafe,-bugprone-multi-level-implicit-pointer-conversion'
FormatStyle:    google