# Build directories
**/build/
**/out/
**/cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/install/
**/bin/
**/lib/
# Executables and libraries (if not placed in 'bin/' or 'lib/')
*.exe
*.dll
*.so
*.dylib
# Object files
*.o
*.obj
# IDE specific files (e.g., CLion, VS Code)
.idea/
.vscode/
# Dependency management (if used, e.g., Conan)
conan_deps/
# Test artifacts
Testing/
# Benchmark artifacts
**/large_file.dat
**/short_file.dat
# Log files
*.log
# Temporary files
*.tmp
.cache/
.ropeproject/
compile_commands.json
# data files
*.dat
# Benchmark results
benchmark/results/

CLAUDE.md
